@use './variables' as *;
@use './mixins' as *;

.top-title {
  width: 30px;
  border: none;
  border-top: 5px solid;
  opacity: 1;
}

// Home
.find-person {
  background-color: $color-light-blue;
  margin-top: -40px;
  border-radius: 50px 50px 0 0;
  position: relative;
  z-index: 1;

  .top-title {
    border-color: $color-background;
  }

  .step-title {
    background-color: $color-red;
    color: $color-background;
    width: fit-content;
  }
}

.top-person {
  background-color: $color-background;
  border-radius: 0 0 50px 50px;

  .top-title {
    border-color: $color-green;
  }

  h2 {
    color: $color-dark-blue;
  }
}

.carousel-indicators {
  button {
    background-color: $color-dark-blue !important;
    opacity: 0.3 !important;
    border: none;

    // Dot actif
    &.active {
      background-color: $color-dark-blue !important;
      opacity: 1 !important;
    }
  }
}

//Listing
.listing {
  .top-title {
    color: $color-red;
  }
}

