@use "./variables" as *;
@use "./mixins" as *;

.search-input-group {
	display: flex;
	align-items: center;
	overflow: hidden;
	background: white;

  &:focus-within {
    border-color: $color-blue;
    box-shadow: 0 0 0 2px $color-green;
  }

	.form-control {
		border: none;
		outline: none;
    background: transparent;
    flex: 1;

		&::placeholder {
			color: rgba($color-dark, 0.6);
			opacity: 1;
		}

    &:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }
	}

	.search-btn {
		border: none;
		background: transparent;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
		color: $color-blue;
    flex-shrink: 0;

		&:hover {
			color: $color-background;
			background-color: $color-dark-blue;
		}
	}
}

.search-dropdown {
	position: absolute;
	top: "100%";
	left: 0;
	right: 0;
	z-index: 1000;
	list-style: none;
	padding: 5px;
	margin: 0;
	background: white;
	border: 1px solid #ccc;
	border-radius: 25px;
}
