// Palette de couleurs
$color-background: #ffffff;
$color-light-blue: #f1f8fc;
$color-blue: #0074c7;
$color-dark-blue: #00497c;
$color-dark: #384050;
$color-red: #cd2c2e;
$color-green: #82b864;

// Police d'écriture
$font-main: "Graphik", Arial, sans-serif;
